* {
  margin:0;
  padding:0;
}

.cell{
  border: 2px solid rgb(219, 214, 214);
  width: 100px;
  height: 40px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#export_button{
  border : 0 solid transparent;
  background-color: rgb(15, 182, 15);
  height: 40px;
  width: 140px;
  margin: 10px;
}

#export_button:hover{
  cursor: pointer;
}

.current_cell{
  margin-left: 10px;
}

th, .row-name{
  background-color: rgb(235, 235, 235);
}

.row-name{
  text-align: center;
  font-weight: 700;
}