@tailwind base;
@tailwind components;
@tailwind utilities;
/* .main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh; 
  background-color: rgb(236, 173, 78);
} */